@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

#bg {
    background-color: #c8c8c8;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23f9f3f3' fill-opacity='1' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

.cart-minimized .cart-content {
    max-height: 0;
}

body {
    transition: padding-bottom 0.3s ease-in-out;
}

body.cart-open {
    padding-bottom: 320px;
}